<html xmlns:th="https://www.thymeleaf.org">

<body>

    <div th:if="${message}">
        <h2 th:text="${message}" />
    </div>

    <div>
        <form method="POST" enctype="multipart/form-data" action="images">
            <table>
                <tr>
                    <td>File to upload:</td>
                    <td><input type="file" name="file" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Upload" /></td>
                </tr>
            </table>
        </form>
    </div>

    <div>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
            <tr th:each="file : ${files}">
                <td><span th:text="${file.id}"></span></td>
                <td><a th:href="${file.imagePath}" th:text="${file.name}" /></td>
                <td style="padding:10px">
                    <a th:href="${file.imagePath}">
                        <img th:src="${file.imagePath}" height="80px" />
                    </a>
                </td>
            </tr>
        </table>
    </div>

</body>

</html>